{% extends 'base.html.twig' %}

{% block title %}
    Naslovnica {{ parent() }}
{% endblock %}

{% block pageTitle %}
    Mentorski sustav
{% endblock %}

{% block pageSubtitle %}
    Sustav za upravljanje upisima
{% endblock %}

{% block body %}
    <p>U izradi...</p>
{% endblock %}